.Review-content {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

/* Simulate default table rendering. */
.Review-content .Toggle button {
  margin-bottom: 6px;
}

.Review-content .FilterControls div:first-child {
  padding-top: 0;
}

.Review-content .FilterControls div {
  padding-top: 6px;
}
