.SearchBox {
  margin: auto;
  width: 70vw;
}

.SearchBox input {
  width: 100%;
}

.SearchBox .SearchResults{
  position: absolute;
  left: 0;
  width: 100vw;
}

.SearchBox ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background: white;
  color: black;
  list-style-type: none;
}

.SearchBox li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.SearchInfo {
  font-style: italic;
}
