th.BreweryNameColumn,
td.BreweryNameColumn {
  width: 60%;
  min-width: 125px;
}

th.BreweryNumColumn,
th.BreweryNumColumn {
  width: 20%;
  min-width: 100px;
}

th.BreweryNameColumn,
th.BreweryNumColumn button.TabButton {
  margin: 0;
}

table.BreweryStats thead tr {
  background-color: transparent;
}
