.StatsModeContainer {
  display: flex;
  flex-wrap: wrap;
}

.StatsModeContainer button {
  margin-bottom: 5px;
}

table.StatsTable {
  margin-top: 10px;
}

table.StatsTable td,
table.StatsTable th {
  padding: 5px;
}
