.BeerHeading,
.BeerRow {
  display: flex;
  flex-direction: row;
}

.BeerHeading {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.BeerHeading div,
.BeerRow div {
  padding: 5px;
}

.BeerName,
.BeerBreweries {
  width: 40%;
}

.BeerStyles {
  width: 20%;
}
