.SearchBox {
  display: flex;
  margin: auto;
}

.SearchBox input {
  width: 100%;
}

.SearchResults {
  position: absolute;
  left: 10vw;
  width: 80vw;
  transform: translate(0, 30px)
}

.SearchBox ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background: white;
  color: black;
  list-style-type: none;
}

.SearchBox li {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.SearchInfo {
  font-style: italic;
}
