.StorageHeading,
.StorageRow {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.StorageHeading {
  margin-top: 20px;
  margin-bottom: 15px;
}

.StorageHeading div,
.StorageRow div {
  margin: 1%;
  overflow-wrap: break-word;
}

.StorageHeading .BeerName,
.StorageRow .BeerName,
.StorageHeading .BeerBreweries,
.StorageRow .BeerBreweries {
  width: 25%;
}

.StorageHeading .BestStyles,
.StorageRow .BestStyles {
  width: 20%;
}

.StorageHeading .BestBefore,
.StorageRow .BestBefore,
.StorageHeading .ReviewLink,
.StorageRow .ReviewLink {
  width: 10%;
}
