.StorageHeading,
.StorageRow {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.StorageHeading {
  margin-top: 20px;
  margin-bottom: 15px;
}

.StorageHeading div,
.StorageRow div {
  padding: 5px;
}

.BeerName,
.BeerBreweries {
  width: 40%;
}

.BestBefore,
.ReviewLink {
  width: 20%;
}
