.StorageHeading {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.StorageRow {
  font-size: 12px;
}

.StorageHeading {
  margin-top: 20px;
  margin-bottom: 15px;
}

.StorageHeading > div {
  overflow-wrap: break-word;
  padding-left: 5px;
  padding-right: 5px;
}

.StorageHeading .BeerName,
.StorageRow .BeerName,
.StorageHeading .BeerBreweries,
.StorageRow .BeerBreweries {
  width: 30%;
}

.StorageHeading .BestStyles,
.StorageRow .BestStyles {
  width: 20%;
}

.StorageHeading .BestBefore,
.StorageRow .BestBefore,
.StorageHeading .Actions,
.StorageRow .Actions {
  width: 10%;
}

.Actions button {
  font-size: 12px;
}

.Actions div {
  margin: 0;
}

.StorageItem-primary-row,
.StorageItem-secondary-row {
  display: flex;
  flex-direction: row;
}

.StorageItem-primary-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.StorageItem-secondary-row {
  padding-bottom: 10px;
}

.StorageItem-primary-row div {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow-wrap: break-word;
}

.StorageItem-secondary-row div {
  text-align: center;
  width: 100%;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow-wrap: break-word;
}
