body {
  background-color: #282c34;
}

body.light {
  background-color: hsl(2, 46%, 83%);
}

.App {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.App button.linklike-button {
  color: white;
}

body.light .App,
body.light .App button.linklike-button {
  color: black;
}

.AppContent {
  max-width: 800px;
}

.AppContent > div {
  width: 100%;
  max-width: calc(100vw - 30px);
}

.App-link {
  color: #61dafb;
}

button,
input[type="submit"] {
  background: #fffe;
  box-shadow: 1px -1px 3px 1px #333;
  border-radius: 6px;
  padding: 1px 6px;
}

body.light button,
body.light input[type="submit"] {
  box-shadow: 1px -1px 3px 1px #ccc;
  border-color: #666;
}

button:disabled,
input[type="submit"]:disabled {
  background: #fffa;
}


body.light button:disabled,
body.light input[type="submit"]:disabled {
  border-color: #999;
}

body.light button.TabButton,
button.TabButton {
  box-shadow: unset;
  border-color: unset;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a {
  color: white;
}

nav ul li a,
nav ul li label {
  font-size: 18px;
}

nav .Search {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

ul li a {
  color: white;
  font-size: 16px;
}

a {
  color: white;
}

body.light a {
  color: black;
}

.RowLike {
  word-break: break-word;
  overflow-wrap: break-word;
}

.RowLike:nth-child(odd),
tr:nth-child(odd) {
  background: rgba(0,0,0,0.2)
}

body.light .RowLike:nth-child(odd),
body.light tr:nth-child(odd) {
  background: rgba(0,0,0,0.05)
}

.RowLike:nth-child(even),
tr:nth-child(even) {
  background: rgba(0,0,0,0.3)
}

body.light .RowLike:nth-child(even),
body.light tr:nth-child(even) {
  background: rgba(0,0,0,0.1)
}

input[type=text],
input[type=password],
input[type=datetime-local],
select {
  padding: 1px 2px;
  width: calc(100% - 8px);
  margin: auto;
}

.content-end {
  min-width: 5px;
  min-height: 5px;
}

input[type=checkbox],
input[type=radio],
input[type=range] {
  accent-color: hsl(200, 50%, 50%);
}
