.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  min-height: 100vw;
}

.App-link {
  color: #61dafb;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  font-size: 18px;
}

ul li a {
  color: white;
  font-size: 16px;
}

a {
  color: white;
}

tr:nth-child(even) {background: rgba(0,0,0,0.2)}
tr:nth-child(odd) {background: rgba(0,0,0,0.3)}

input[type=text], input[type=password], select {
  width: 70vw;
  margin: auto;
}

.content-end {
  min-width: 5px;
  min-height: 5px;
}
