body {
  background-color: #282c34;
}

body.light {
  background-color: hsl(220, 3%, 97%);
}

.App {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

body.light .App {
  color: black;
}

.AppContent {
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}

.App-link {
  color: #61dafb;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a {
  color: white;
}

nav ul li a,
nav ul li label {
  font-size: 18px;
}

ul li a {
  color: white;
  font-size: 16px;
}

a {
  color: white;
}

body.light a {
  color: black;
}

.RowLike:nth-child(odd),
tr:nth-child(odd) {
  background: rgba(0,0,0,0.2)
}

body.light .RowLike:nth-child(odd),
body.light tr:nth-child(odd) {
  background: rgba(0,0,0,0.05)
}

.RowLike:nth-child(even),
tr:nth-child(even) {
  background: rgba(0,0,0,0.3)
}

body.light .RowLike:nth-child(even),
body.light tr:nth-child(even) {
  background: rgba(0,0,0,0.1)
}

input[type=text],
input[type=password],
input[type=datetime-local],
select {
  width: 100%;
  margin: auto;
}

.content-end {
  min-width: 5px;
  min-height: 5px;
}

input[type=checkbox],
input[type=radio],
input[type=range] {
  accent-color: hsl(200, 50%, 50%);
}
